.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu {
  margin: 0 4rem;
}

.ant-layout-sider-trigger {
  position: static;
}
@media print {
  @page {
    size: landscape;
  }
}
