@import '../../../responsive-mixin.scss';
.pay-container {
    border: 0.1rem solid #ccc;
    flex: 0 0 30%;
    padding: 2rem ;
    align-self: flex-start;
    h2 {
      @include respone(tab-port){
        font-size: 1.8rem;
      }
    }
    & > div {
      display: flex;
      justify-content: space-between;
    }
    @include respone(tab-port){
      width: 100%;
    }
}
  