@import "../../responsive-mixin.scss";

.card-container {
  width: 100%;
  margin-bottom: 2rem;
  @include respone(tab-port) {
    margin-bottom: 5rem !important;
  }
  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
  @include respone(tab-port) {
    margin-bottom: 5rem !important;
  }
  @include respone(tab-port) {
    button {
      padding: 0 0.8rem !important;
      font-size: 1.4rem !important;
    }
  }
}
