@import '../../responsive-mixin.scss';

.card-container {
  margin-bottom: 2rem;
  & .ant-card-cover {
    overflow: hidden;
    height: 16rem;

    img {
      height: 100%;
      width: 100%;
      transition: all 0.5s ease-in;
      @include respone(tab-port) {
        height: 100%;
        width: 100%;
      }
      &:hover {
        transform: scale(1.3);
      }
    }
  }
  & .ant-card-body {
    padding: 0.5rem;
    padding-bottom: 0;
  }
  & .ant-card-meta-title {
    @include respone(phone) {
      text-align: center;
    }
    span {
      font-size: 1rem;
      font-weight: 700;
      @include respone(tab-port) {
        font-size: 1.6rem;
      }
    }
  }

  @include respone(tab-port) {
    margin-bottom: 5rem !important;
  }
  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
  @include respone(tab-port) {
    margin-bottom: 5rem !important;
  }
  @include respone(tab-port) {
    button {
      padding: 0 0.8rem !important;
      font-size: 1.4rem !important;
    }
  }
}
