.cardItem-infor {
    padding-left: 0.8rem;
    li {
        list-style: none;
        margin-bottom: 1.5rem;
        font-size: 1.5rem;
        span {
            font-weight: 700;
        }
        
    }
}