@import "../../responsive-mixin.scss";
.container-checkout {
  background-color: white;
  height: 100vh;
  display: flex;
  overflow-y: scroll;
  justify-content: space-between;
  padding: 8rem;
  position: relative;
  margin-top: -3.6rem;
  & .product-checkout-page {
    flex: 0 0 60%;
  }
  @include respone(tab-port) {
    flex-direction: column;
    margin: 0;
    margin-top: -3.6rem;
    width: 100%;
    justify-content: space-between;
  }
  @include respone(phone) {
    padding: 0;
    margin-top: 15rem;
  }
}
