@import "../../responsive-mixin.scss";
.banner-section {
  padding: 8rem 5rem;
}
.single-banner {
  position: relative;
  z-index: 1;
  &:hover {
    &::before {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  }
  &::before {
    position: absolute;
    left: 3.5rem;
    top: 3rem;
    border: 1.3rem solid #ffffff;
    content: "";
    opacity: 0.3;
    width: calc(100% - 7rem);
    height: calc(100% - 6rem);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  img {
    width: 100%;
  }
  .inner-text {
    position: absolute;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    h4 {
      color: #252525;
      font-weight: 700;
      font-size: 2rem;
      padding: 1.1rem 2.8rem;
      background: #ffffff;
      border-radius: 2px;
    }
  }
}
