@import '../../responsive-mixin.scss';
.containerSignInSignUp {
  // width: 30rem;

  // margin: 3rem auto;
  margin-top: -3.6rem;

  padding: 7.5rem 37%;
  background-color: #ccc;
  @include respone(tab-land) {
    padding: 5.5rem 10%;
  }
  @include respone(tab-port) {
    padding: 5.5rem 5%;
  }
  @include respone(phone) {
    margin-top: 10rem;
    padding: 5.5rem 0%;
  }
}
